/.idea
*.log
__pycache__/
*.py[cod]
*$py.class
_build
_static
_templates
.DS_store
.venv
*.swo
*.swp
*.swn
*.pyc
.cache/

# pip package metadata
*egg-info/

# conda build metadata
build/
dist/
lib/
info/

# Holoclean specific files
debug/

# Toblerclean
venv/
init_venv.sh
.vscode/
516_reset_pg_db_user.sh
reset_pg_db_user.sh
testdata/*
!testdata/adult/
!testdata/flight/
!testdata/hospital
!testdata/met
testdata/hospital/add_a_correct_column.ipynb
testdata/hospital/hospital_18c.csv
testdata/hospital/hospital_18c_clean.csv
examples/*.py
!examples/holoclean_repair_example.py
!examples/holoclean_repair_example_db.py
